@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'jetbrains mono', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-container {
  position: relative;
  z-index: 1;
}


.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
